<?xml version="1.0"?>
<config>
    <modules>
        <Payson_Checkout2>
            <version>1.0.0</version>
        </Payson_Checkout2>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote>
                <payson_checkout_id>
                    <to_order>*</to_order>
                </payson_checkout_id>
            </sales_convert_quote>
        </fieldsets>
        <blocks>
            <checkout2>
                <class>Payson_Checkout2_Block</class>
            </checkout2>
            <checkout2_adminhtml>
                <class>Payson_Checkout2_Block_Adminhtml</class>
            </checkout2_adminhtml>
        </blocks>
        <models>
            <checkout2>
                <class>Payson_Checkout2_Model</class>
            </checkout2>
        </models>
        <helpers>
            <checkout2>
                <class>Payson_Checkout2_Helper</class>
            </checkout2>
        </helpers>
        <resources>
            <payson_checkout2_setup>
                <setup>
                    <module>Payson_Checkout2</module>
                </setup>
            </payson_checkout2_setup>
        </resources>

        <events>
            <checkout_cart_save_after>
                <observers>
                    <checkout2>
                        <class>checkout2/observer</class>
                        <method>checkoutCartSaveAfter</method>
                    </checkout2>
                </observers>
            </checkout_cart_save_after>
        </events>
    </global>
    <default>
        <payment>
            <checkout2>
                <test_mode>1</test_mode>
                <active>1</active>
                <model>checkout2/method_checkout2</model>
                <title>Payson Checkout2</title>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <payment_action>authorize</payment_action>
                <restore_on_cancel>1</restore_on_cancel>
                <restore_on_error>1</restore_on_error>
                <color_theme>Gray</color_theme>
                <extra_verification>none</extra_verification>
                <request_phone>0</request_phone>
                <agent_id>4</agent_id>
                <md5_key>2acab30d-fe50-426f-90d7-8c60a7eb31d4</md5_key>
            </checkout2>
        </payment>
    </default>
    <frontend>        
        <routers>
            <checkout2>
                <use>standard</use>
                <args>
                    <module>Payson_Checkout2</module>
                    <frontName>checkout2</frontName>
                </args>
            </checkout2>
        </routers>
        <translate>
            <modules>
                <payson_checkout2>
                    <files>
                        <default>payson_checkout2.csv</default>
                    </files>
                </payson_checkout2>
            </modules>
        </translate>
        <layout>
            <updates>
                <payson_checkout2>
                    <file>payson_checkout2.xml</file>
                </payson_checkout2>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <payson_checkout2>
                    <files>
                        <default>payson_checkout2.csv</default>
                    </files>
                </payson_checkout2>
            </modules>
        </translate>
    </adminhtml>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Payson_Checkout2 before="Mage_Adminhtml">Payson_Checkout2_Adminhtml</Payson_Checkout2>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <!--
    <crontab>
        <jobs>
            <payson_checkout2_cron>
                <schedule>
                    <cron_expr>0,45 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>payson_checkout2/observer::methodName</model>
                </run>
            </payson_checkout2_cron>
        </jobs> 
    </crontab>
    -->
</config>
